@import 'variables.scss';
.btn {
    background-color: $hover;
    border-radius: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    transition: all .15s ease;
    text-decoration: none;
    color: white;
    padding: 1rem 3rem;
    outline: none;
    border: none;
    font-weight: bolder;
    font-family: $f1;
    font-size: 1.4rem;

    &:hover {
        background-color: lighten($hover, 5%);
        cursor: pointer;
    }

}