.form {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__left {
        width: 50%;
        margin-right: 5rem;
    }
    &__right {
        width: 50%;
    }
    &__input {
        &--name {
            width: 100%;
        }
        &--email {
            width: 100%;
        }
        &--message {
            width: 100%;
        }
    }
}