@import "./variables.scss";

.hero {
  height: 53vh;
  display: flex;
  max-width: 100vw;

  &__bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-image: linear-gradient(to top left, $pri 0%, white 60%);


    &--1 {
      height: 50rem;
      width: 50rem;
      transform: translate(-50%, -50%);
    }
    &--2 {
      height: 20rem;
      width: 20rem;
      top: 20%;
      left: 20%;
      animation: bubble 25s ease-in-out infinite;
      z-index: -1;
    }
    &--3 {
      height: 10rem;
      width: 10rem;
      top: 60%;
      left: 20%;
      animation: bubble 30s ease-in-out infinite;
      mix-blend-mode: multiply;
    }
    &--4 {
      height: 15rem;
      width: 15rem;
      top: 60%;
      left: 80%;
      animation: bubble 20s ease-in-out infinite;
    }
  }

  &__title {
    position: absolute;
    left: 50%;
    top: 32%;
    transform: translateX(-50%);
    font-size: 6rem;
    color: $dark;
  }
}

.skill-btn {
  color: $dark;
  position: absolute;
  padding: 1rem 4rem;
  border-radius: 10rem;
  box-shadow: $sha;
  font-weight: bolder;
  font-size: 1.5rem;


  &__1 {
    top: 17rem;
    left: 35rem;
    background-color: $pri;
    animation: float 5s ease-in-out infinite;
  }
  &__2 {
    top: 40rem;
    left: 35rem;
    background-color: $sec;
    animation: float 4s ease-in-out infinite;
  }
  &__3 {
    top: 30rem;
    right: 30rem;
    background-color: $ter;
    animation: float 3s ease-in-out infinite;
  }
}
