@import 'variables.scss';
.works {

  &__section {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include respond(tab-land) {
      margin: 1rem auto;
    }
  }
}
