@import 'variables.scss';
.works {
  margin: 5rem 0;

  &__section {
    margin: 5rem auto;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include respond(tab-land) {
      margin: 1rem auto;
    }
  }
}
