@import "./variables.scss";
.project-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 16rem;
  transform: translateY(2.5rem);

  & p {
    padding-top: 1rem;
    color: $hover;
  }

  &__img {
    height: 100%;
    border: 3px solid $hover;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      border-color: $sec;
    }
  }
}
