//colors

$hover: #3c5392;

$pri: #9bbbe4;
$sec: #65b88e;
$ter: #d8a670;

$light: #f4f5f7;
$dark: #5d5e61;

$gra: linear-gradient(to left, $pri 0%, $ter 50%, $sec 100%);

//shadows

$sha: 0 1rem 3rem rgba(0, 0, 0, 0.25);
$sha2: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);

//fonts

$f1: "poppins", "Manrope", sans-serif;
$f2: 'Jura', cursive;

//keyframes

@keyframes float {
  0% {
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes bubble {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-210px);
  }
  100% {
    transform: translatey(0px);
  }
}

//*****  breakpoint arguments  *****//

@mixin respond($breakpoint) {
  @if $breakpoint == phone-port {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == phone-land {
    @media only screen and (max-width: 53em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 55em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 65em) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media only screen and (max-width: 90em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (max-width: 95em) {
      @content;
    }
  }
}
