@import "./variables.scss";

.latest {
  position: relative;
  height: 30vh;
  background-image: $gra;
  mix-blend-mode: multiply;
  overflow: hidden;

  @include respond(laptop) {
    height: 37vh;
  }

  @include respond(tab-port) {
    height: 28vh;
  }

  @include respond(phone-land) {
    height: 28rem;
  }

  &__container {
    width: 80%;
    margin: auto;
    cursor: grab;

    @include respond(tab-port) {
      width: 95%;
    }
  }

  &__title {
    transform: translateY(-5rem) !important;
  }

  &__projects {
    display: flex;
    margin: auto;
  }
}

.swiper-container {
  height: 23rem;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0 !important;
  padding: 2rem 0 !important;
}


.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1 !important;
  border: 1px solid $hover;
}

.swiper-pagination-bullet-active {
  color: $hover !important;
  background-color: $hover !important;
}